<h2>Question 3</h2>

<p>You need to track whenever the isPremiumUser flag changes in an Ember object. Whenever it changes, 
    log a message "User premium status changed". Implement this functionality </p>

<h3>Output is in console</h3>