<h2>Question 4</h2>

<p>In your Ember app, you need to bind the discountedPrice property of an object dynamically to originalPrice. 
    The discountedPrice should always be 10% less than originalPrice and update automatically when originalPrice 
    changes. Implement this behavior.</p>

<h3>Output is in console</h3>