<h2>Question 5</h2>

<p>You are handling a collection of student names in an Ember object. Implement a functionality that 
    returns a sorted list of students whenever a new student is added or removed. </p>

<h3>Output is in console</h3>