<h2>Question 2</h2>

<p>In an Ember application, you need to calculate the full name of a user dynamically whenever firstName or 
    lastName changes. Implement this functionality in an Ember object. </p>

<h3>Output is in console</h3>